.wrapper.input label {
    display: block;
    font-size: 12px;
    color: #8A9BAE;
    margin-bottom: 8px;
}

.wrapper.input select {
    font-size: 16px;
    color: #364F6B;
    padding: 12px;
    border-radius: 6px;
    border: none;
    min-width: 140px;
    cursor: pointer;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: #FFF url('../../images/select-arrow.svg') no-repeat;
    background-position: right 12px top 54%;
}

.wrapper.input input {
    font-size: 16px;
    color: #364F6B;
    padding: 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-position: right 12px top 54%;
}

.wrapper.input select:focus,
.wrapper.input select:hover,
.wrapper.input input:focus,
.wrapper.input input:hover {
    outline: none!important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
}

.wrapper.input input[type='date'] {
    max-width: 140px;
    max-height: 42px;
}

.dollar-input {
    position: relative;
    max-width: 100px;
}

.dollar-input::before {
    content: '$';
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 18px;
    position: absolute;
    top: 10px;
    left: 10px;
    color: #FC5185;
}

.dollar-input input {
    padding-left: 24px!important;
    max-width: 100%;
    color: #FC5185!important;
}