body {
    color: #364F6B;
}

/* Utilities */
.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.ai-flex-end {
    align-items: flex-end;
}

.mt-1 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 50px;
}

/* Expenses */
.container.expenses-pg {
    width: calc(100% - 240px);
    height: 100vh;
    padding: 50px 80px;
    background-color: #F7F7F7;
    float: right;
}

.expenses-pg h1 {
    color: #364F6B;
    font-size: 48px;
}

.expense-form {
    width: 100%;
    max-width: 900px;
}