body {
    color: #364F6B;
}

/* Utilities */
.d-flex {
    display: flex;
}

.jc-space-between {
    justify-content: space-between;
}

.jc-flex-end {
    justify-content: flex-end;
}

.ai-flex-end {
    align-items: flex-end;
}

.mt-1 {
    margin-top: 20px;
}

.mt-2 {
    margin-top: 30px;
}

.mt-3 {
    margin-top: 50px;
}


/* Sign up */
.container.signup-pg,
.container.login-pg {
    display: flex;
}

.signup-container,
.login-container {
    background-color: #F0F0F0;
    width: 40vw;
    padding: 30px;
}

.signup-container h1,
.login-container h1 {
    font-size: 48px;
    text-align: center;
    margin: 100px 0 50px;
}

.signup-container p.login-copy,
.login-container p.signup-copy {
    font-size: 14px;
    color: #8A9BAE;
    text-align: center;
    margin-top: 40px;
}

.signup-container a,
.login-container a {
    color: #43DDE6;
    font-weight: 900;
}


/* Expenses */
.container.expenses-pg {
    width: calc(100% - 240px);
    height: 100vh;
    padding: 50px 80px;
    background-color: #F7F7F7;
    float: right;
}

.expenses-pg h1 {
    color: #364F6B;
    font-size: 48px;
}

.expense-form {
    width: 100%;
    max-width: 900px;
}