table {
    width: 100%;
    max-width: 900px;
    background-color: #FFFFFF;
    border-radius: 10px;
    padding: 28px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-collapse: separate;
    border-spacing: 0;
}

table th {
    font-size: 12px;
    font-weight: 400;
    color: #8A9BAE;
    text-align: left;
    border-bottom: 1px solid #DEE4EB;
    padding-bottom: 10px;
}

table td:not(:last-child) {
    padding: 20px 0;
}

table tbody tr:not(:last-child):nth-child(even) {
    background-color: #F7F7F7;
}

table thead tr th:first-child,
table tbody tr td:first-child {
    padding-left: 10px;
    width: 120px;
}

table tbody tr td:nth-child(2) {
    width: 160px;
}

table thead tr th:last-child,
table tbody tr td:last-child {
    text-align: right;
    padding-right: 10px;
}

table tbody tr td button {
    cursor: pointer;
}

table>tbody>tr:not(:last-child)>td:last-child {
    opacity: 0;
}

table>tbody>tr:not(:last-child):hover {
    background-color: rgba(67, 221, 230, .2);
}

table>tbody>tr:not(:last-child):hover td:last-child {
    opacity: 1;
    pointer-events: initial;
}

table>tbody>tr:last-child td {
    font-size: 14px;
    border-top: 1px solid #DEE4EB;
    padding-top: 20px;
    text-align: right;
}