.container.header {
    display: absolute;
    width: 240px;
    height: 100vh;
    padding: 32px;
    background-color: #364F6B;
    font-family: 'Roboto', sans-serif;
}

.logo {
    font-size: 46px;
    font-weight: 900;
    line-height: 0.9;
    color: #43DDE6;
    padding: 28px 0 60px;
}