header.container {
    width: 240px;
    height: 100vh;
    padding: 32px;
    background-color: #364F6B;
    font-family: 'Roboto', sans-serif;
    float: left;
}

header .logo {
    font-size: 46px;
    font-weight: 900;
    line-height: 0.9;
    color: #43DDE6;
    padding: 28px 0 60px;
}

nav>ul {
    list-style-type: none;
}

nav>ul>li {
    color: #8A9BAE;
    font-size: 18px;
    letter-spacing: 1.5px;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: inherit;
}

nav li.active {
    color: #43DDE6;
    font-weight: 700;
}